# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project_python\thomasaimondy-SBP-1c5ddcb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
